:root {
  --font-size-xs: 0.6rem;
  --font-size-s: 0.7rem;
  --font-size-m: 0.8rem;
  --font-size-l: 1rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;

  --spacing-05: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 0.9rem;
  --spacing-3: 1rem;
  --spacing-4: 2rem;
  --spacing-5: 3rem;
  --spacing-6: 4rem;

  --icon-size-s: 0.75rem;
  --icon-size-m: 1rem;
  --icon-size-l: 1.25rem;
  --icon-size-xl: 1.5rem;

  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;

  --layout-gap: 2rem;
}

:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #cccccc;

  --color-text-white: #ffffff;
  --color-text-primary: #3f4f5e;
  --color-text-secondary: #2bb673;

  --color-link: #27aae1;

  --color-border-primary: #cccccc;
  --color-border-secondary: #3f4f5e;

  --color-white: #ffffff;
  --color-gray: #cccccc;
  --color-success: #00bb00;
  --color-warn: #ffbb00;
  --color-alert: #bb0000;
}

@media (min-width: 768px) {
  :root {
    --font-size-xs: 0.75rem;
    --font-size-s: 0.8rem;
    --font-size-m: 1rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.5rem;

    --spacing-05: 0.25rem;
    --spacing-1: 0.5rem;
    --spacing-2: 1rem;
    --spacing-3: 2rem;
    --spacing-4: 3rem;
    --spacing-5: 5rem;
    --spacing-6: 8rem;

    --icon-size-s: 1rem;
    --icon-size-m: 1.25rem;
    --icon-size-l: 1.5rem;
    --icon-size-xl: 2rem;

    --layout-gap: 6rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --layout-gap: 12rem;
  }
}

@media (min-width: 1536px) {
  :root {
    --layout-gap: 20rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-primary: #333333;
    --color-bg-secondary: #666666;

    --color-text-white: #ffffff;
    --color-text-primary: #eeeeee;
    --color-text-secondary: #aaaaaa;

    --color-link: #d8551e;

    --color-border-primary: #666666;
    --color-border-secondary: #c0b0a1;

    --color-white: #000000;
    --color-gray: #666666;
    --color-success: #00bb00;
    --color-warn: #ffbb00;
    --color-alert: #bb0000;
  }
}

body {
  color: var(--color-text-primary);
  background: var(--color-bg-primary);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;

  font-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
